.course-details {
  padding: 100px 0 50px;
}
.course-details .course-details-left .main-img img {
  max-width: 100%;
}
.course-details .course-details-left .content-wrapper .title {
  color: var(--dark-blue);
  margin-top: 40px;
  margin-bottom: 20px;
}
.course-details .course-details-left .content-wrapper .content {
  color: var(--paragraph-color);
  font-size: 15px;
}
/* lessons */
.course-details .course-details-left .course-item {
  position: relative;
}
.course-details .course-details-left .lesson-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-details .course-details-left .course-item:not(:last-child) {
  margin-bottom: 20px;
}
.course-details .course-details-left .course-title {
  margin-bottom: 0;
}
.course-details .course-details-left .course-item .view-btn {
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 5px 15px;
  color: var(--black-color);
  transition: 0.4s all ease-in-out;
}
.course-details .course-details-left .course-item .view-btn:hover {
  color: var(--white-color);
  background: linear-gradient(to right, #d95b14, #133e5a);
}
.course-details .course-details-left .lesson-list {
  display: none;
  background-color: var(--white-color);
  padding: 10px;
}
.course-details .course-details-left .lesson-list-item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
  padding: 4px 0;
  margin-bottom: 8px;
}
.course-details .course-details-left .lesson-list.show {
  display: block;
}
.course-details .course-details-right {
  position: relative;
}
@media (max-width: 991px) {
  .course-details .course-details-right {
    margin-top: 20px;
  }
}
.course-details .course-details-right .sidebar-top {
  border: 1px solid var(--border-color);
  padding: 30px;
}
.course-details .course-details-right .sidebar-top ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-details .course-details-right .sidebar-top ul li p:first-child {
  color: var(--paragraph-color);
}
.course-details .course-details-right .sidebar-top .enroll-btn,
.course-details .course-details-right .sidebar-top .add-wishlist-btn {
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 8px 15px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.5s all ease-in-out;
  border: 1px solid var(--border-color);
}
.course-details .course-details-right .sidebar-top .enroll-btn {
  color: var(--white-color);
  background: linear-gradient(to right, #d95b14, #133e5a);
  margin-bottom: 15px;
  margin: 20px auto;
}
.course-details .course-details-right .sidebar-top .add-wishlist-btn {
  color: var(--black-color);
}
.course-details .course-details-right .sidebar-top .enroll-btn:hover,
.course-details .course-details-right .sidebar-top .add-wishlist-btn:hover {
  background: linear-gradient(to right, #133e5a, #d95b14);
}
.course-details .course-details-right .sidebar-top .add-wishlist-btn:hover {
  color: var(--white-color);
}
@media (max-width: 991px) {
  .course-details .course-details-right .comments {
    margin-top: 20px;
  }
}
.course-details .course-details-right .comments .single-comment {
  display: flex;
  padding: 30px;
}
.course-details
  .course-details-right
  .comments
  .single-comment:not(:last-child) {
  margin-bottom: 20px;
}
.course-details .course-details-right .comments .single-comment .thumb {
  margin-right: 20px;
}
.course-details .course-details-right .comments .single-comment .thumb img {
  width: 50px;
}
.course-details .course-details-right .comments .single-comment .desc h5 {
  font-size: 16px;
  color: var(--dark-blue);
  margin-bottom: 0;
}
.course-details
  .course-details-right
  .comments
  .single-comment
  .desc
  .rating
  svg {
  font-size: 10px;
  color: var(--main-color);
}
.course-details .course-details-right .comments .single-comment .desc p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--paragraph-color);
}
.course-details .course-details-right .review {
  padding: 0 30px;
}
.course-details .course-details-right .review .title {
  color: var(--dark-blue);
  margin-top: 40px;
  margin-bottom: 20px;
}
.course-details .course-details-right .review .form-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.course-details .course-details-right .review .form-group:not(:last-of-type) {
  margin-bottom: 20px;
}
.course-details .course-details-right .review .form-group p,
.course-details .course-details-right .review .form-group label {
  margin-bottom: 0;
  color: var(--paragraph-color);
  font-size: 14px;
}
.course-details .course-details-right .review .rating {
  display: flex;
  align-items: center;
}
.course-details .course-details-right .review .rating a {
  padding: 1px;
}
.course-details .course-details-right .review .rating svg {
  font-size: 10px;
  color: var(--main-color);
}
.course-details .course-details-right .review .form-group label {
  white-space: nowrap;
  width: 110px;
}
.course-details .course-details-right .review .required {
  color: var(--main-color);
}
.course-details .course-details-right .review .form-group .form-control {
  font-size: 14px;
}
.course-details .course-details-right .review .form-group .form-control:active,
.course-details .course-details-right .review .form-group .form-control:focus {
  box-shadow: none;
  border-color: var(--main-color);
  outline: none;
}
.course-details .course-details-right .review .form-group textarea {
  height: 100px;
  resize: none;
}
.course-details .course-details-right .review .submit-review-btn {
  padding: 8px 15px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 30px auto;
  display: block;
}
/* popup box */
.popup-box {
  padding: 20px;
  text-align: center;
  width: 20%;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  background-color: var(--black-color);
  border-radius: 5px;
  display: none;
}
.popup-box .link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px;
  transition: var(--main-transition);
}
.popup-box .link:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.popup-box .link:not(:last-child) {
  margin-bottom: 20px;
}
.popup-box.show {
  display: block;
}
