.awesome-features {
  padding-top: 100px;
}
.awesome-features .single-feature h2 {
  color: var(--dark-blue);
  font-size: 40px;
  margin-bottom: 30px;
}
.awesome-features .single-feature-container {
  padding: 25px;
  text-align: center;
  border: 1px solid #f6f6f6;
  transition: 0.6s;
}
@media (max-width: 1200px) {
  .awesome-features .single-feature-container {
    margin-top: 20px;
  }
}
.awesome-features .single-feature-container span {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 50%;
  padding: 20px;
  transition: 0.6s;
  margin-bottom: 20px;
  background-color: #f0f4f6;
  color: black;
}
.awesome-features .single-feature-container h4 {
  margin-bottom: 20px;
  color: var(--dark-blue);
}
.awesome-features .single-feature:hover .single-feature-container {
  border: 1px solid var(--main-color);
}
.awesome-features .single-feature:hover .single-feature-container span {
  background: linear-gradient(to right, var(--main-color), var(--dark-blue));
  color: var(--white-color);
}
/* number counter */
.number-counter {
  margin-top: 100px;
  padding: 50px 0;
  background: linear-gradient(to right, #d95b14, #133e5a);
}
.number-counter .single-number-counter {
  text-align: center;
}
@media (max-width: 576px) {
  .number-counter
    .container
    .row
    > div:not(:first-child)
    .single-number-counter {
    margin-top: 20px;
  }
}
.number-counter .single-number-counter .counter {
  font-size: 50px;
  color: var(--white-color);
  font-weight: bold;
}
.number-counter .single-number-counter h4 {
  position: relative;
  color: var(--white-color);
  margin-top: 30px;
  font-weight: normal;
}
.number-counter .single-number-counter h4::before {
  content: "";
  position: absolute;
  top: -17px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--white-color);
}
/* tesimonials */
.tesimonials {
  padding: 80px 0;
  position: relative;
}
.tesimonials .title,
.contact-us .title {
  margin-bottom: 50px;
  text-align: center;
}
.tesimonials .title p {
  text-transform: uppercase;
  color: #556172;
}
.tesimonials .title h2,
.contact-us .title h2 {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 40px;
  position: relative;
}
.tesimonials .title h2::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.tesimonials .arrow svg,
.tesimonials .arrow svg {
  position: absolute;
  transform: translateY(-50%);
  top: 60%;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}
.tesimonials .next svg {
  right: 70px;
}
.tesimonials .prev svg {
  left: 70px;
}
.tesimonials .tesimonials-container {
  flex-wrap: nowrap;
  overflow-x: auto;
  /* height: 420px; */
}
.tesimonials .tesimonials-container::-webkit-scrollbar {
  width: 0;
}
.tesimonials .slider {
  box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
  padding: 40px;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
}
.tesimonials .slider::after {
  content: "";
  background-image: url("../../assets/testimonial.png");
  position: absolute;
  background-size: cover;
  z-index: -1;
  top: 70px;
  background-repeat: no-repeat;
  right: 40px;
  height: 150px;
  width: 230px;
}
.tesimonials .slider {
  margin: 20px auto;
}
.tesimonials .slider p {
  color: var(--paragraph-color);
  font-size: 15px;
}
.tesimonials .slider h4 {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 600;
}
.tesimonials .slider h5 {
  color: var(--paragraph-color);
  font-size: 14px;
}
