.custom-title {
  color: var(--dark-blue);
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-bottom: 100px;
}

.custom-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
