.shopping-cart .single_course {
    justify-content: center;
  }
  @media (max-width: 767px) {
    .shopping-cart .single_course {
      flex-direction: column;
    }
  }
  .shopping-cart .single_course .single_course_img {
    width: 350px;
  }
  @media (max-width: 567px) {
    .shopping-cart .single_course .single_course_img {
      width: 100%;
    }
  }
  .shopping-cart .single_course .single-course-text {
    padding: 10px;
    width: 100%;
  }
  .shopping-cart .single_course .single-course-text .course-header {
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    .single_course .course-header {
      flex-direction: row;
    }
  }
  .shopping-cart .single_course .course-info p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .shopping-cart .single_course .course-info .remove-course {
    text-align: right;
  }
  .shopping-cart .single_course .course-info .remove-course .remove-course-btn {
    margin-bottom: 0;
    font-weight: bold;
    color: #d88d55;
    transition: var(--main-transition);
  }
  .shopping-cart
    .single_course
    .course-info
    .remove-course
    .remove-course-btn:hover {
    color: var(--main-color);
  }
  