footer {
  background-color: var(--black-color);
  padding: 30px;
}
@media (max-width: 767px) {
  footer .single-footer-caption {
    margin-top: 20px;
  }
}
footer .single-footer-caption > div:not(:last-child) {
  margin-bottom: 25px;
}
footer .footer-logo a {
  display: block;
}
footer .footer-logo a img {
  width: 70px;
}
footer .footer-title p {
  color: var(--white-color);
  font-size: 14px;
}
footer .footer-social {
  display: flex;
  align-items: center;
}
footer .footer-social > a:not(:last-child) {
  margin-right: 10px;
}
footer .footer-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: var(--main-transition);
}
footer .footer-social a:hover {
  background-color: var(--main-color);
}
footer .single-footer-caption .title h4 {
  color: var(--white-color);
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 0;
}
footer .single-footer-caption .title ul {
  margin-top: 20px;
  margin-bottom: 0;
}
footer .single-footer-caption .title ul li a {
  text-decoration: none;
  color: #e7e7e7;
  transition: var(--main-transition);
}
footer .single-footer-caption .title ul li:not(:last-child) {
  margin-bottom: 8px;
}
footer .single-footer-caption .title ul li a:hover {
  color: var(--main-color);
}
footer .single-footer-caption .contact-info p {
  color: var(--white-color);
}
footer .single-footer-caption .contact-info span {
  color: #ff5c00;
}
footer .footer-bottom {
  padding: 20px 0 0;
}
footer .footer-bottom .copyright {
  text-align: center;
}
footer .footer-bottom .copyright p {
  color: var(--white-color);
}
footer .footer-bottom .copyright p span {
  color: var(--main-color);
  margin: 0 4px;
}
footer .footer-bottom .copyright p a {
  color: #ff5c00;
  text-decoration: none;
}
